<a href="https://colab.research.google.com/github/mirpouya/Basics-of-ML/blob/main/01_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Lists</h2>
<h2>Tuples</h2>
<h2>Sets</h2>
<h2>Dictionaries</h2>

* Lists : Ordered - Changable - Duplicates
* Tuples : Ordered - Unchangable - Duplicates
* Sets : Unordered - Addable/Removable - No Duplicates
* Dictionaries : Unordered - Changable - No Duplicates

In [2]:
my_list = [1,2,3,"name",3]
my_set = {1,2,3,"name",3}
my_tuple = (1,2,3,"name",3)
my_dict = {"Name":"Pouya", 2:23}

In [3]:
# check types
print(f"the type of my_list is : {type(my_list)}")
print(f"the type of my_set is : {type(my_set)}")
print(f"the type of my_tuple is : {type(my_tuple)}")
print(f"the type of my_dict is : {type(my_dict)}")

the type of my_list is : <class 'list'>
the type of my_set is : <class 'set'>
the type of my_tuple is : <class 'tuple'>
the type of my_dict is : <class 'dict'>

In [4]:
# accessing the values in Lists, Tuples, Sets, and Dictionaries
print(my_list[2])
print(my_tuple[2])
print(3 in my_set)
print(my_dict[2])

3
3
True
23

<h3> Operations </h3>

In [5]:
my_list

[1, 2, 3, 'name', 3]

In [6]:
# revesing the whole list
my_list[::-1]

[3, 'name', 3, 2, 1]

In [7]:
my_list[2:]

[3, 'name', 3]

In [8]:
my_list[1:]

[2, 3, 'name', 3]

In [9]:
# append item to the list
my_list.append(["hey","I","am","Pouya"])
my_list

[1, 2, 3, 'name', 3, ['hey', 'I', 'am', 'Pouya']]

In [10]:
# delete item in the list by index
del my_list[5]
my_list

[1, 2, 3, 'name', 3]

In [11]:
# Tuples
# tuples can not change once they are defined

tuple2 = (1,2, "Desk", "cat", [1,2,3])
my_tuple2 = my_tuple + tuple2
my_tuple2

(1, 2, 3, 'name', 3, 1, 2, 'Desk', 'cat', [1, 2, 3])

In [12]:
# adding element to sets
my_set

{1, 2, 3, 'name'}

In [13]:
my_set.add("Desk")
my_set

# .add is only used when you want to insert one elemtn

{1, 2, 3, 'Desk', 'name'}

In [14]:
# for adding multiple components we use .update

my_set.update({"Musical instrument", "Wooden Desk"})
my_set

{1, 2, 3, 'Desk', 'Musical instrument', 'Wooden Desk', 'name'}

In [15]:
# add items to dictionary

my_dict

{'Name': 'Pouya', 2: 23}

In [16]:
my_dict["age"] = 1234
my_dict

{'Name': 'Pouya', 2: 23, 'age': 1234}

In [17]:
# removing item from sets

my_set.remove("name")

In [18]:
my_set

{1, 2, 3, 'Desk', 'Musical instrument', 'Wooden Desk'}

In [19]:
my_set.add("name")
my_set

{1, 2, 3, 'Desk', 'Musical instrument', 'Wooden Desk', 'name'}

In [20]:
# adding element to dictionaries

dict2 = {"job":"unemployed", "phone number":"None of your business"}
my_dict.update(dict2)
my_dict

{'Name': 'Pouya',
 2: 23,
 'age': 1234,
 'job': 'unemployed',
 'phone number': 'None of your business'}

In [21]:
# important note on lists

l1 = ["item 0", "item 1", "item 2", "item 3"]
l2 = l1

del l1[2]

l2

['item 0', 'item 1', 'item 3']

In [22]:
# so, for copying elements of a list into another list we can do:

l1 = ["item 0", "item 1", "item 2", "item 3"]

l2 = l1.copy()
l2

# same thing goes for dictionaries and sets

['item 0', 'item 1', 'item 2', 'item 3']

help(...) funciton is one of the best things in python

In [23]:
help(l2.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

or we can do:
l2.help?

In [24]:
# list of list, set, and dict

list_L = [1,2,3,4]
set_L = {1,2,3,4}
dict_L = {"a":1, "b":2, "c":3, "d":4}

big_list = [list_L, set_L, dict_L, "name", "pizza", "dog", 1234]
big_list

[[1, 2, 3, 4],
 {1, 2, 3, 4},
 {'a': 1, 'b': 2, 'c': 3, 'd': 4},
 'name',
 'pizza',
 'dog',
 1234]

In [25]:
type(big_list[2])

dict

In [26]:
# create list with loop

square_list = [num**2 for num in range(11)]
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
# list of even numbers with loop

even_list = [num for num in range(0,25,2)]
even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

Example: <br> 
You are a teacher and you have diferent students. Each students has an id and may have several courses with you. You want to enter all the data into the computer and want to compute the average marks of each student and display.

In [28]:
# defining a function

def getDataFromUser():

  student_dict = {}

  while True:
    student_id = input("Enter the student's id: ")
    student_grades = input("Enter the student's grades by comma separated values: ")
    continue_process = input("If you want to continue enter y, else enter n: ")
    if continue_process.lower() not in ["y", "n"]:
      continue_process = input("Invalid input, If you want to continue enter y, else enter n: ")

    if student_id in student_dict:
      check = input("This id is in aleady inserted, do you want to add this mark to his records? Enter y/n: ")
      if check == "y":
        student_dict[student_id].append(student_grades.split(",")) 
      elif check == "n":
        print("Hehe nothing!")
    else:
      student_dict[student_id] = student_grades.split(",")

    if continue_process.lower() == "n":
      return student_dict

In [29]:
student_data = getDataFromUser()

Enter the student's id: 1
Enter the student's grades by comma separated values: 12, 17
If you want to continue enter y, else enter n: y
Enter the student's id: 2
Enter the student's grades by comma separated values: 15,18,19,17
If you want to continue enter y, else enter n: 15,16.7
Invalid input, If you want to continue enter y, else enter n: y
Enter the student's id: 3
Enter the student's grades by comma separated values: 15.1,16.3,17
If you want to continue enter y, else enter n: n

In [30]:
student_data

{'1': ['12', ' 17'],
 '2': ['15', '18', '19', '17'],
 '3': ['15.1', '16.3', '17']}

In [31]:
# changing a list of strings to numbers

string_list = ["16", "17", "15.01", "109", "18.78"]

num_list = [float(num) for num in string_list]
num_list

[16.0, 17.0, 15.01, 109.0, 18.78]

In [32]:
# average numbers in a list

num_list_avg = sum(num_list)/ len(num_list)
num_list_avg

35.158

In [34]:
# a function to calculate average scores

def averageSores(stud_dict):

  for student in stud_dict:
    avg = sum(stud_dict[student]) / len(stud_dict[student])
    stud_dict[student].append({"average": avg})
  
  return stud_dict

In [35]:
averageSores({"1":[1,2,3,4,5]})

{'1': [1, 2, 3, 4, 5, {'average': 3.0}]}