<a href="https://colab.research.google.com/github/mirpouya/Basics-of-ML/blob/main/01_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Lists</h2>
<h2>Tuples</h2>
<h2>Sets</h2>
<h2>Dictionaries</h2>

* Lists : Ordered - Changable - Duplicates
* Tuples : Ordered - Unchangable - Duplicates
* Sets : Unordered - Addable/Removable - No Duplicates
* Dictionaries : Unordered - Changable - No Duplicates

In [1]:
my_list = [1,2,3,"name",3]
my_set = {1,2,3,"name",3}
my_tuple = (1,2,3,"name",3)
my_dict = {"Name":"Pouya", 2:23}

In [2]:
# check types
print(f"the type of my_list is : {type(my_list)}")
print(f"the type of my_set is : {type(my_set)}")
print(f"the type of my_tuple is : {type(my_tuple)}")
print(f"the type of my_dict is : {type(my_dict)}")

the type of my_list is : <class 'list'>
the type of my_set is : <class 'set'>
the type of my_tuple is : <class 'tuple'>
the type of my_dict is : <class 'dict'>

In [3]:
# accessing the values in Lists, Tuples, Sets, and Dictionaries
print(my_list[2])
print(my_tuple[2])
print(3 in my_set)
print(my_dict[2])

3
3
True
23

<h3> Operations </h3>

In [4]:
my_list

[1, 2, 3, 'name', 3]

In [5]:
# revesing the whole list
my_list[::-1]

[3, 'name', 3, 2, 1]

In [6]:
my_list[2:]

[3, 'name', 3]

In [7]:
my_list[1:]

[2, 3, 'name', 3]

In [8]:
# append item to the list
my_list.append(["hey","I","am","Pouya"])
my_list

[1, 2, 3, 'name', 3, ['hey', 'I', 'am', 'Pouya']]

In [9]:
# delete item in the list by index
del my_list[5]
my_list

[1, 2, 3, 'name', 3]

In [10]:
# Tuples
# tuples can not change once they are defined

tuple2 = (1,2, "Desk", "cat", [1,2,3])
my_tuple2 = my_tuple + tuple2
my_tuple2

(1, 2, 3, 'name', 3, 1, 2, 'Desk', 'cat', [1, 2, 3])

In [11]:
# adding element to sets
my_set

{1, 2, 3, 'name'}

In [13]:
my_set.add("Desk")
my_set

# .add is only used when you want to insert one elemtn

{1, 2, 3, 'Desk', 'name'}

In [15]:
# for adding multiple components we use .update

my_set.update({"Musical instrument", "Wooden Desk"})
my_set

{1, 2, 3, 'Desk', 'Musical instrument', 'Wooden Desk', 'name'}

In [16]:
# add items to dictionary

my_dict

{'Name': 'Pouya', 2: 23}

In [17]:
my_dict["age"] = 1234
my_dict

{'Name': 'Pouya', 2: 23, 'age': 1234}

In [19]:
# removing item from sets

my_set.remove("name")

In [20]:
my_set

{1, 2, 3, 'Desk', 'Musical instrument', 'Wooden Desk'}

In [22]:
my_set.add("name")
my_set

{1, 2, 3, 'Desk', 'Musical instrument', 'Wooden Desk', 'name'}

In [23]:
# adding element to dictionaries

dict2 = {"job":"unemployed", "phone number":"None of your business"}
my_dict.update(dict2)
my_dict

{'Name': 'Pouya',
 2: 23,
 'age': 1234,
 'job': 'unemployed',
 'phone number': 'None of your business'}

In [24]:
# important note on lists

l1 = ["item 0", "item 1", "item 2", "item 3"]
l2 = l1

del l1[2]

l2

['item 0', 'item 1', 'item 3']

In [27]:
# so, for copying elements of a list into another list we can do:

l1 = ["item 0", "item 1", "item 2", "item 3"]

l2 = l1.copy()
l2

# same thing goes for dictionaries and sets

['item 0', 'item 1', 'item 2', 'item 3']