<a href="https://colab.research.google.com/github/mirpouya/Basics-of-ML/blob/main/Basics_of_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.3.5

In [3]:
my_series = pd.Series([1,22,333,4444], index=["a", "b", "c", "d"])
my_series

a       1
b      22
c     333
d    4444
dtype: int64

Series basically handles one dimensional arrays

In [4]:
my_series.values

array([   1,   22,  333, 4444])

In [5]:
type(my_series.values)

numpy.ndarray

data type of values in a series is numpy array

In [6]:
type(my_series)

pandas.core.series.Series

In [7]:
my_series.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
my_series["b"]

22

In [9]:
my_series["a":"c"]

a      1
b     22
c    333
dtype: int64

In [10]:
# another way of creating a pandas series is by dictionary

vals = {"A+":4, "A":3.7, "A-": 3.5, "B+":3.2, "B":3}

scores = pd.Series(vals)
scores

A+    4.0
A     3.7
A-    3.5
B+    3.2
B     3.0
dtype: float64