<a href="https://colab.research.google.com/github/mirpouya/Basics-of-ML/blob/main/Basics_of_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.3.5

In [3]:
my_series = pd.Series([1,22,333,4444], index=["a", "b", "c", "d"])
my_series

a       1
b      22
c     333
d    4444
dtype: int64

Series basically handles one dimensional arrays

In [4]:
my_series.values

array([   1,   22,  333, 4444])

In [5]:
type(my_series.values)

numpy.ndarray

data type of values in a series is numpy array

In [6]:
type(my_series)

pandas.core.series.Series

In [7]:
my_series.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
my_series["b"]

22

In [9]:
my_series["a":"c"]

a      1
b     22
c    333
dtype: int64

In [10]:
# another way of creating a pandas series is by dictionary

vals = {"A+":4, "A":3.7, "A-": 3.5, "B+":3.2, "B":3}

scores = pd.Series(vals)
scores

A+    4.0
A     3.7
A-    3.5
B+    3.2
B     3.0
dtype: float64

<h4> Data Frames are two dimensional tables </h4>

In [11]:
scores = {"Stud 1":20, "Stud 2":19, "Stud 3":18, "Stud 4":17, "Stud 5":16}
students_grades = {"Stud 1":15, "Stud 2": 16.5, "Stud 3": 18, "Stud 4": 14, "Stud 5":15.5}

grades_df = pd.DataFrame({"Marks":students_grades, "Scales":scores})

In [12]:
grades_df

        Marks  Scales
Stud 1   15.0      20
Stud 2   16.5      19
Stud 3   18.0      18
Stud 4   14.0      17
Stud 5   15.5      16

In [13]:
grades_df.columns

Index(['Marks', 'Scales'], dtype='object')

In [14]:
# adding a new column using other columns

grades_df["ofofo"] = grades_df["Marks"]**3 - grades_df["Scales"]*15/2.3
grades_df

        Marks  Scales        ofofo
Stud 1   15.0      20  3244.565217
Stud 2   16.5      19  4368.211957
Stud 3   18.0      18  5714.608696
Stud 4   14.0      17  2633.130435
Stud 5   15.5      16  3619.527174

In [15]:
# selection specific values

grades_df[grades_df["ofofo"] > 3000]

        Marks  Scales        ofofo
Stud 1   15.0      20  3244.565217
Stud 2   16.5      19  4368.211957
Stud 3   18.0      18  5714.608696
Stud 5   15.5      16  3619.527174

HOW TO HANDLE MISSING DATA

In [16]:
# creating a dataframe

mis_df = pd.DataFrame([{"a":1, "b":2}, {"b":3,"c":4}, {"b":23, "c":31, "d":12}])
mis_df

     a   b     c     d
0  1.0   2   NaN   NaN
1  NaN   3   4.0   NaN
2  NaN  23  31.0  12.0

In [17]:
temp_df = pd.DataFrame({"stud":{"aa":11, "ba":30, "c":10}, "teac":{"aa":123, "ba":321, "c":222}})
temp_df

    stud  teac
aa    11   123
ba    30   321
c     10   222

In [18]:
# filling missing values with something

mis_df.fillna("pouya")

       a   b      c      d
0    1.0   2  pouya  pouya
1  pouya   3    4.0  pouya
2  pouya  23   31.0   12.0

In [19]:
mis_df.dropna?

<h4> Implicit and Explicit index </h4>
loc and ilic

In [20]:
temp_df = pd.Series([1,2,3,4,5], index=[1,9,2,8,4])
temp_df

1    1
9    2
2    3
8    4
4    5
dtype: int64

In [21]:
temp_df.loc[9]

2

In [22]:
temp_df.loc[[1,2,4]]

1    1
2    3
4    5
dtype: int64

In [23]:
# loc ---> explicit index
# iloc ---> implicit index

In [24]:
temp_df = pd.Series(["a","b","c","d","e"], index=[1,9,2,8,4])
temp_df

1    a
9    b
2    c
8    d
4    e
dtype: object

In [25]:
temp_df.loc[1:8]

1    a
9    b
2    c
8    d
dtype: object

In [26]:
temp_df.iloc[1:4]

9    b
2    c
8    d
dtype: object

In [28]:
import numpy as np
from sklearn.impute import SimpleImputer

In [29]:
data_df = pd.read_csv("country_wise_latest.csv")

In [30]:
data_df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [31]:
data_df.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')

In [32]:
# I want to remove specific columns
data_df.shape

(187, 15)

In [34]:
data_df["random_num"] = np.random.randn(187)
data_df["arange"] = np.arange(187)
data_df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,random_num,arange
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,1.237255,0
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe,0.354685,1
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa,-0.672707,2
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe,-0.078989,3
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa,-0.786096,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean,-0.273192,182
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa,1.009233,183
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,-1.630933,184
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa,-0.156437,185
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa,1.576624,186

In [35]:
# removing columsn

data_df.drop(["random_num", "arange"], axis=1, inplace=True)
data_df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [36]:
data_df.shape

(187, 15)

In [37]:
# getting statistical measures

data_df.describe()

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase
count,1.870000e+02,187.000000,1.870000e+02,1.870000e+02,187.000000,187.000000,187.000000,187.000000,187.000000,187.00,1.870000e+02,187.000000,187.000000
mean,8.813094e+04,3497.518717,5.063148e+04,3.400194e+04,1222.957219,28.957219,933.812834,3.019519,64.820535,inf,7.868248e+04,9448.459893,13.606203
std,3.833187e+05,14100.002482,1.901882e+05,2.133262e+05,5710.374790,120.037173,4197.719635,3.454302,26.287694,NaN,3.382737e+05,47491.127684,24.509838
min,1.000000e+01,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1.000000e+01,-47.000000,-3.840000
25%,1.114000e+03,18.500000,6.265000e+02,1.415000e+02,4.000000,0.000000,0.000000,0.945000,48.770000,1.45,1.051500e+03,49.000000,2.775000
50%,5.059000e+03,108.000000,2.815000e+03,1.600000e+03,49.000000,1.000000,22.000000,2.150000,71.320000,3.62,5.020000e+03,432.000000,6.890000
75%,4.046050e+04,734.000000,2.260600e+04,9.149000e+03,419.500000,6.000000,221.000000,3.875000,86.885000,6.44,3.708050e+04,3172.000000,16.855000
max,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06,56336.000000,1076.000000,33728.000000,28.560000,100.000000,inf,3.834677e+06,455582.000000,226.320000

In [38]:
data_df[["Deaths", "Recovered", "Deaths / 100 Cases", "Recovered / 100 Cases"]]

     Deaths  Recovered  Deaths / 100 Cases  Recovered / 100 Cases
0      1269      25198                3.50                  69.49
1       144       2745                2.95                  56.25
2      1163      18837                4.16                  67.34
3        52        803                5.73                  88.53
4        41        242                4.32                  25.47
..      ...        ...                 ...                    ...
182      78       3752                0.73                  35.33
183       1          8               10.00                  80.00
184     483        833               28.56                  49.26
185     140       2815                3.08                  61.84
186      36        542                1.33                  20.04

[187 rows x 4 columns]

In [39]:
data_df[["Deaths", "Recovered", "Deaths / 100 Cases", "Recovered / 100 Cases"]].describe()

              Deaths     Recovered  Deaths / 100 Cases  Recovered / 100 Cases
count     187.000000  1.870000e+02          187.000000             187.000000
mean     3497.518717  5.063148e+04            3.019519              64.820535
std     14100.002482  1.901882e+05            3.454302              26.287694
min         0.000000  0.000000e+00            0.000000               0.000000
25%        18.500000  6.265000e+02            0.945000              48.770000
50%       108.000000  2.815000e+03            2.150000              71.320000
75%       734.000000  2.260600e+04            3.875000              86.885000
max    148011.000000  1.846641e+06           28.560000             100.000000

In [40]:
# giving important information about the dataset

data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

In [46]:
covid_data = pd.read_csv("covid_19.csv")
covid_data.head()

,patient_id,sex,birth_year,country,region,disease,group,infection_reason,infection_order,infected_by,contact_number,confirmed_date,released_date,deceased_date,state
0,1,female,1984.0,China,filtered at airport,NaN,NaN,visit to Wuhan,1.0,NaN,45.0,2020-01-20,2020-02-06,NaN,released
1,2,male,1964.0,Korea,filtered at airport,NaN,NaN,visit to Wuhan,1.0,NaN,75.0,2020-01-24,2020-02-05,NaN,released
2,3,male,1966.0,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,16.0,2020-01-26,2020-02-12,NaN,released
3,4,male,1964.0,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,95.0,2020-01-27,2020-02-09,NaN,released
4,5,male,1987.0,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,31.0,2020-01-30,2020-03-02,NaN,released

In [47]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7754 entries, 0 to 7753
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   patient_id        7754 non-null   int64
 1   sex               678 non-null    object
 2   birth_year        665 non-null    float64
 3   country           7754 non-null   object
 4   region            436 non-null    object
 5   disease           28 non-null     float64
 6   group             86 non-null     object
 7   infection_reason  154 non-null    object
 8   infection_order   36 non-null     float64
 9   infected_by       70 non-null     float64
 10  contact_number    53 non-null     float64
 11  confirmed_date    7754 non-null   object
 12  released_date     55 non-null     object
 13  deceased_date     36 non-null     object
 14  state             7754 non-null   object
dtypes: float64(5), int64(1), object(9)
memory usage: 908.8+ KB

In [48]:
# it is a good dataset since it has missing values

In [49]:
# the best part of .info() is we can get a sense about the missing values