<a href="https://colab.research.google.com/github/mirpouya/Basics-of-ML/blob/main/Basics_of_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd

In [36]:
print(pd.__version__)

1.3.5

In [37]:
my_series = pd.Series([1,22,333,4444], index=["a", "b", "c", "d"])
my_series

a       1
b      22
c     333
d    4444
dtype: int64

Series basically handles one dimensional arrays

In [38]:
my_series.values

array([   1,   22,  333, 4444])

In [39]:
type(my_series.values)

numpy.ndarray

data type of values in a series is numpy array

In [40]:
type(my_series)

pandas.core.series.Series

In [41]:
my_series.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [42]:
my_series["b"]

22

In [43]:
my_series["a":"c"]

a      1
b     22
c    333
dtype: int64

In [44]:
# another way of creating a pandas series is by dictionary

vals = {"A+":4, "A":3.7, "A-": 3.5, "B+":3.2, "B":3}

scores = pd.Series(vals)
scores

A+    4.0
A     3.7
A-    3.5
B+    3.2
B     3.0
dtype: float64

<h4> Data Frames are two dimensional tables </h4>

In [45]:
scores = {"Stud 1":20, "Stud 2":19, "Stud 3":18, "Stud 4":17, "Stud 5":16}
students_grades = {"Stud 1":15, "Stud 2": 16.5, "Stud 3": 18, "Stud 4": 14, "Stud 5":15.5}

grades_df = pd.DataFrame({"Marks":students_grades, "Scales":scores})

In [46]:
grades_df

        Marks  Scales
Stud 1   15.0      20
Stud 2   16.5      19
Stud 3   18.0      18
Stud 4   14.0      17
Stud 5   15.5      16

In [47]:
grades_df.columns

Index(['Marks', 'Scales'], dtype='object')

In [48]:
# adding a new column using other columns

grades_df["ofofo"] = grades_df["Marks"]**3 - grades_df["Scales"]*15/2.3
grades_df

        Marks  Scales        ofofo
Stud 1   15.0      20  3244.565217
Stud 2   16.5      19  4368.211957
Stud 3   18.0      18  5714.608696
Stud 4   14.0      17  2633.130435
Stud 5   15.5      16  3619.527174

In [49]:
# selection specific values

grades_df[grades_df["ofofo"] > 3000]

        Marks  Scales        ofofo
Stud 1   15.0      20  3244.565217
Stud 2   16.5      19  4368.211957
Stud 3   18.0      18  5714.608696
Stud 5   15.5      16  3619.527174

HOW TO HANDLE MISSING DATA

In [50]:
# creating a dataframe

mis_df = pd.DataFrame([{"a":1, "b":2}, {"b":3,"c":4}, {"b":23, "c":31, "d":12}])
mis_df

     a   b     c     d
0  1.0   2   NaN   NaN
1  NaN   3   4.0   NaN
2  NaN  23  31.0  12.0

In [51]:
temp_df = pd.DataFrame({"stud":{"aa":11, "ba":30, "c":10}, "teac":{"aa":123, "ba":321, "c":222}})
temp_df

    stud  teac
aa    11   123
ba    30   321
c     10   222

In [52]:
# filling missing values with something

mis_df.fillna("pouya")

       a   b      c      d
0    1.0   2  pouya  pouya
1  pouya   3    4.0  pouya
2  pouya  23   31.0   12.0

In [53]:
mis_df.dropna?

<h4> Implicit and Explicit index </h4>
loc and ilic

In [54]:
temp_df = pd.Series([1,2,3,4,5], index=[1,9,2,8,4])
temp_df

1    1
9    2
2    3
8    4
4    5
dtype: int64

In [55]:
temp_df.loc[9]

2

In [56]:
temp_df.loc[[1,2,4]]

1    1
2    3
4    5
dtype: int64

In [57]:
# loc ---> explicit index
# iloc ---> implicit index

In [58]:
temp_df = pd.Series(["a","b","c","d","e"], index=[1,9,2,8,4])
temp_df

1    a
9    b
2    c
8    d
4    e
dtype: object

In [60]:
temp_df.loc[1:8]

1    a
9    b
2    c
8    d
dtype: object

In [61]:
temp_df.iloc[1:4]

9    b
2    c
8    d
dtype: object