<a href="https://colab.research.google.com/github/mirpouya/Basics-of-ML/blob/main/Intermediate_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# check the version of pandas

print(pd.__version__)

1.3.5

In [3]:
# SERIES

a = pd.Series([1,2,3,4,5], index=["a", "b", "c", "d", "e"])
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
"""
Series basically handle one-dimensional arrays
"""

a.values

array([1, 2, 3, 4, 5])

In [5]:
type(a.values)

numpy.ndarray

In [6]:
type(a)

pandas.core.series.Series

In [7]:
a.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [8]:
""" 
Making series with dictionary 
"""

grades = {"Pouya":19, "Amir":17, "Ali":18, "Gholi":20}
b = pd.Series(grades)
b

Pouya    19
Amir     17
Ali      18
Gholi    20
dtype: int64

In [9]:
"""
Data Frames : Two-dimensional arrays
"""

marks = {"Pouya":19, "Amir":17,"Ali":18, "Gholi":20}
grades = {"Pouya":"A", "Amir":"B", "Ali":"A", "Gholi":"A+"}

data = pd.DataFrame({"Marks":marks, "Grades":grades})
data

       Marks Grades
Pouya     19      A
Amir      17      B
Ali       18      A
Gholi     20     A+

In [10]:
# transpose

data.T

       Pouya Amir Ali Gholi
Marks     19   17  18    20
Grades     A    B   A    A+

In [11]:
data.values

array([[19, 'A'],
       [17, 'B'],
       [18, 'A'],
       [20, 'A+']], dtype=object)

In [12]:
data.index

Index(['Pouya', 'Amir', 'Ali', 'Gholi'], dtype='object')

In [13]:
# if we want to access 18 in values

data.values[2,0]

18

In [14]:
# columns of the dataset

data.columns

Index(['Marks', 'Grades'], dtype='object')

In [15]:
data.T.columns

Index(['Pouya', 'Amir', 'Ali', 'Gholi'], dtype='object')

In [16]:
# adding a column
import numpy as np

data["Percent"] = np.array([95, 85, 90, 100])
data

       Marks Grades  Percent
Pouya     19      A       95
Amir      17      B       85
Ali       18      A       90
Gholi     20     A+      100

In [17]:
# adding another column

data["redundant"] = 1.18*(data["Marks"] + data["Percent"])
data

       Marks Grades  Percent  redundant
Pouya     19      A       95     134.52
Amir      17      B       85     120.36
Ali       18      A       90     127.44
Gholi     20     A+      100     141.60

In [18]:
# deleting a column

del data["redundant"]
data

       Marks Grades  Percent
Pouya     19      A       95
Amir      17      B       85
Ali       18      A       90
Gholi     20     A+      100

In [19]:
data["redundant"] = data["Percent"]*1.23 + data["Marks"]
data

       Marks Grades  Percent  redundant
Pouya     19      A       95     135.85
Amir      17      B       85     121.55
Ali       18      A       90     128.70
Gholi     20     A+      100     143.00

In [20]:
# conditioning on the data

data[data["redundant"] > 130]

       Marks Grades  Percent  redundant
Pouya     19      A       95     135.85
Gholi     20     A+      100     143.00

In [21]:
# making DataFrame with two dictionaries

data = pd.DataFrame([{"Pouya":19, "Amir":17, "Ali":18}, {"Pouya":4, "Amir":3.5, "Gholi":4}])
data

   Pouya  Amir   Ali  Gholi
0     19  17.0  18.0    NaN
1      4   3.5   NaN    4.0

In [22]:
data = pd.Series(["a", "b", "c", "d", "e", "f"], index=[10,11,12,13,14,15])
data

10    a
11    b
12    c
13    d
14    e
15    f
dtype: object

In [23]:
data[1:3]

11    b
12    c
dtype: object

In [24]:
data[1:5]

11    b
12    c
13    d
14    e
dtype: object

In [25]:
data[11:14]

Series([], dtype: object)

In [26]:
"""
explicit indeces: loc
implicit indeces: iloc

Explicit Index: Uses the values (numeric or non-numeric) set as the index. For example, if we set a column or row as the index then we can use values in the row or column as indices in different panda methods.

Implicit Index: Uses the location (numeric) of the indices, similar to the python style of indexing.
"""

data = pd.Series(["a", "b", "c", "d"], index=[1,3,5,7])
data

1    a
3    b
5    c
7    d
dtype: object

In [27]:
# data[1] -> explicit index, refers to the set index (label) not the location

data[1]

'a'

In [28]:
# data[1:3] -> implicit index, refers to the position of elements not the set labels

data[1:3]

3    b
5    c
dtype: object

In [29]:
# slicing with explicit index

data.loc[1:3]

1    a
3    b
dtype: object

In [30]:
# slicing with implicit index

data.iloc[1:3]

3    b
5    c
dtype: object

In [31]:
marks = {"Pouya":19, "Amir":17,"Ali":18, "Gholi":20}
grades = {"Pouya":"A", "Amir":"B", "Ali":"A", "Gholi":"A+"}

data = pd.DataFrame({"Marks":marks, "Grades":grades})
data

       Marks Grades
Pouya     19      A
Amir      17      B
Ali       18      A
Gholi     20     A+

In [32]:
# reversing df with iloc

data.iloc[::-1,:]

       Marks Grades
Gholi     20     A+
Ali       18      A
Amir      17      B
Pouya     19      A

**<h1> Working with Real DATA </h1>**

In [33]:
data = pd.read_csv("/content/Adults.csv")
data

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [34]:
# the problem is the first row is considered to be the header of dataset, and it is not the case
# therefore, we have to indicate that the first row is not the header

data = pd.read_csv("/content/Adults.csv", header=None)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [35]:
# adding column name to the data

data.columns = ["C"+str(x) for x in range(data.shape[1])]
data

,C0,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [36]:
# accessing all the rows of columns 0, 13

data.loc[:,["C0","C13"]]

       C0             C13
0      39   United-States
1      50   United-States
2      38   United-States
3      53   United-States
4      28            Cuba
...    ..             ...
32556  27   United-States
32557  40   United-States
32558  58   United-States
32559  22   United-States
32560  52   United-States

[32561 rows x 2 columns]

In [37]:
# unique values 

data["C12"].unique()

array([40, 13, 16, 45, 50, 80, 30, 35, 60, 20, 52, 44, 15, 25, 38, 43, 55,
       48, 58, 32, 70,  2, 22, 56, 41, 28, 36, 24, 46, 42, 12, 65,  1, 10,
       34, 75, 98, 33, 54,  8,  6, 64, 19, 18, 72,  5,  9, 47, 37, 21, 26,
       14,  4, 59,  7, 99, 53, 39, 62, 57, 78, 90, 66, 11, 49, 84,  3, 17,
       68, 27, 85, 31, 51, 77, 63, 23, 87, 88, 73, 89, 97, 94, 29, 96, 67,
       82, 86, 91, 81, 76, 92, 61, 74, 95])

In [38]:
data["C13"].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [39]:
# unique values of labels

data["C14"].unique()

array([' <=50K', ' >50K'], dtype=object)

In [40]:
# labels

labels = data["C14"].unique()
labels

array([' <=50K', ' >50K'], dtype=object)

In [41]:
print(f" class1: {labels[0]}\n class2: {labels[1]}")

 class1:  <=50K
 class2:  >50K

In [42]:
# for classification task, I want to replace label[0] with -1, and label[1] with +1

In [43]:
# index of data with <=50k label

indx0 = data["C14"] == labels[0]
indx1 = data["C14"] == labels[1]

indx0

0         True
1         True
2         True
3         True
4         True
         ...
32556     True
32557    False
32558     True
32559     True
32560    False
Name: C14, Length: 32561, dtype: bool

In [44]:
indx1

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557     True
32558    False
32559    False
32560     True
Name: C14, Length: 32561, dtype: bool

In [45]:
# using loc function, changing the label value

data["C14"].loc[indx0] = -1 
data["C14"].loc[indx1] = 1

data["C14"]

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0        -1
1        -1
2        -1
3        -1
4        -1
         ..
32556    -1
32557     1
32558    -1
32559    -1
32560     1
Name: C14, Length: 32561, dtype: object

In [46]:
# unique values of C14

data["C14"].unique()

array([-1, 1], dtype=object)

In [47]:
# changing C1 culumn using one-hot encoding

""" One hot encoding is used to convert categorical data (string) to numerical values """

data["C1"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [48]:
data["C1"].unique().size

9

In [49]:
# get_dummies(data, columns) function

data_dum = pd.get_dummies(data, columns=["C1"])

data_dum

,C0,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C14,C1_ ?,C1_ Federal-gov,C1_ Local-gov,C1_ Never-worked,C1_ Private,C1_ Self-emp-inc,C1_ Self-emp-not-inc,C1_ State-gov,C1_ Without-pay
0,39,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,...,-1,0,0,0,0,0,0,0,1,0
1,50,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,...,-1,0,0,0,0,0,0,1,0,0
2,38,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,...,-1,0,0,0,0,1,0,0,0,0
3,53,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,...,-1,0,0,0,0,1,0,0,0,0
4,28,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,...,-1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,...,-1,0,0,0,0,1,0,0,0,0
32557,40,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,...,1,0,0,0,0,1,0,0,0,0
32558,58,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,...,-1,0,0,0,0,1,0,0,0,0
32559,22,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,...,-1,0,0,0,0,1,0,0,0,0
32560,52,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,...,1,0,0,0,0,0,1,0,0,0

In [50]:
# get_dummies expand the columns

data_dum.shape

(32561, 23)

In [51]:
data_dum.columns

Index(['C0', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11',
       'C12', 'C13', 'C14', 'C1_ ?', 'C1_ Federal-gov', 'C1_ Local-gov',
       'C1_ Never-worked', 'C1_ Private', 'C1_ Self-emp-inc',
       'C1_ Self-emp-not-inc', 'C1_ State-gov', 'C1_ Without-pay'],
      dtype='object')

In [52]:
# what is the "C1_?" columns?

# maybe it stands for the missing entries of "C1"

In [53]:
# checking for missing values in "C1"

data["C1"].isnull().sum()

0

In [54]:
# no missing values!

data["C1"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [55]:
# in fact, there is a value "?" in "C1"

In [56]:
# to scam the general information 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C0      32561 non-null  int64
 1   C1      32561 non-null  object
 2   C2      32561 non-null  int64
 3   C3      32561 non-null  object
 4   C4      32561 non-null  int64
 5   C5      32561 non-null  object
 6   C6      32561 non-null  object
 7   C7      32561 non-null  object
 8   C8      32561 non-null  object
 9   C9      32561 non-null  object
 10  C10     32561 non-null  int64
 11  C11     32561 non-null  int64
 12  C12     32561 non-null  int64
 13  C13     32561 non-null  object
 14  C14     32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**<h3> Grouping - groupby </h3>**

In [57]:
# df.groupby([col]).sum()
# grouping the data with respect to a specific column

df = pd.DataFrame({"Product":["Lump", "Lump", "Table", "Table"], "Quality":["A", "B", "A", "A"], "Price":[40, 30, 2000, 2300]})
df

  Product Quality  Price
0    Lump       A     40
1    Lump       B     30
2   Table       A   2000
3   Table       A   2300

In [58]:
# see how many products are in the list

df.groupby(["Product"]).sum()

         Price
Product
Lump        70
Table     4300

In [59]:
# see the average price of each product

df.groupby(["Product"]).mean()

          Price
Product
Lump       35.0
Table    2150.0

In [60]:
# grouping with respect to two columns

df.groupby(["Product", "Quality"]).sum()

                 Price
Product Quality
Lump    A           40
        B           30
Table   A         4300

In [61]:
"""
like a hierarchichal classification, first separating products according to type
then, within each class (lump and table), classifying with respect to quality
"""

'\nlike a hierarchichal classification, first separating products according to type\nthen, within each class (lump and table), classifying with respect to quality\n'

In [62]:
# heirarchichal indexing
# df.groupby(level=0).sum()

In [63]:
# creating data frame in a new way
# hierarchichal dataframe

a = [["Pen", "Pen", "Pen", "Notebook", "Notebook", "Notebook"], ["A", "B", "C", "A", "B", "C"]]
indx = pd.MultiIndex.from_arrays(a, names=("Product", "Quality"))

df = pd.DataFrame({"Price":[15.,10., 8, 25, 20, 15]}, index=indx)
df

                  Price
Product  Quality
Pen      A         15.0
         B         10.0
         C          8.0
Notebook A         25.0
         B         20.0
         C         15.0

In [64]:
# as you see, this is a leveled dataframe

# applying groupby on level 0

df.groupby(level=0).sum()

          Price
Product
Notebook   60.0
Pen        33.0

In [65]:
# level = 1
df.groupby(level=1).mean()

         Price
Quality
A         20.0
B         15.0
C         11.5

**<h1> Rolling Function </h1>**

In [66]:
# df.rolling(winSize).sum() : window type operation on data frame
# similar to window in conv nets

df = pd.DataFrame({"A":np.random.randint(0,10,5),
                   "B":np.random.randint(0,5,5),
                   "C":np.random.randint(0,10,5)})

df

   A  B  C
0  9  4  8
1  4  1  7
2  4  0  2
3  8  3  9
4  0  1  6

In [67]:
df.rolling(2).sum()

      A    B     C
0   NaN  NaN   NaN
1  13.0  5.0  15.0
2   8.0  1.0   9.0
3  12.0  3.0  11.0
4   8.0  4.0  15.0

In [68]:
# avoid NaN

df.rolling(2, min_periods=1).sum()

      A    B     C
0   9.0  4.0   8.0
1  13.0  5.0  15.0
2   8.0  1.0   9.0
3  12.0  3.0  11.0
4   8.0  4.0  15.0

In [69]:
# working with iris dataset

import seaborn as sns

iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [70]:
# remving target column

df = iris.drop(["species"], axis=1)
df

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [71]:
# smoothing columns with rolling

df.rolling(3, min_periods=1, win_type="gaussian").sum(std=3)

# operation on windows is gaussian with standard deviation of 3

     sepal_length  sepal_width  petal_length  petal_width
0        4.824393     3.310858      1.324343     0.189192
1        9.735201     6.337878      2.724343     0.389192
2       14.170403     9.337928      3.954091     0.578384
3       13.686615     8.970353      4.043282     0.578384
4       13.775807     9.532524      4.054091     0.578384
..            ...          ...           ...          ...
145     19.470453     9.164949     16.200150     6.851414
146     18.997473     8.486565     15.321766     6.462222
147     18.786665     8.175757     14.837978     5.967626
148     18.324493     8.581161     15.037978     5.973030
149     17.929897     9.075757     15.143383     5.894646

[150 rows x 4 columns]

**<h2> Pandas Where </h2>**

In [72]:
# df.where(cond, action)

""" locates all the indeces that a condition is true 
    in all the places that the condition is true, the original values are kept
    in each location that the condition is not true the value changes by the action
"""

df = pd.DataFrame(np.arange(15).reshape(5,3), columns= ["A", "B", "C"])
df

    A   B   C
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [73]:
# zero every values bigger than 5

df.where(df<5, -df)

    A   B   C
0   0   1   2
1   3   4  -5
2  -6  -7  -8
3  -9 -10 -11
4 -12 -13 -14

**<h2> Pandas Clip </h2>**

In [76]:
# df.clip(lower, upper)
# you may have outliers that are not in a particular range and want to delete them

"""
  all the values smaller than the lower change to lower
  all the valuea bigger than the upper change to upper
"""

df = pd.DataFrame(np.random.randint(0,60, (6,12)), columns=list("ABCDEFGHIJKL"))
df

    A   B   C   D   E   F   G   H   I   J   K   L
0  35  46  33  37  23   4  56  32  21  12   7  36
1  53   7  17  27  21   1   8  55  21  45  57  35
2  39  57  44  15  33  46  56  29  42   2  16  36
3  53  15   8  50   0  57  56   7   8   3  33   7
4   8  37  40  38  34  48  59  46  32  38  45  35
5  51   9  54   2  27  37  56  44  49  45  10   5

In [77]:
df.clip(25,35)

    A   B   C   D   E   F   G   H   I   J   K   L
0  35  35  33  35  25  25  35  32  25  25  25  35
1  35  25  25  27  25  25  25  35  25  35  35  35
2  35  35  35  25  33  35  35  29  35  25  25  35
3  35  25  25  35  25  35  35  25  25  25  33  25
4  25  35  35  35  34  35  35  35  32  35  35  35
5  35  25  35  25  27  35  35  35  35  35  25  25

In [79]:
# use where one more time

df.where(df<40, 1000)

      A     B     C     D   E     F     G     H     I     J     K   L
0    35  1000    33    37  23     4  1000    32    21    12     7  36
1  1000     7    17    27  21     1     8  1000    21  1000  1000  35
2    39  1000  1000    15  33  1000  1000    29  1000     2    16  36
3  1000    15     8  1000   0  1000  1000     7     8     3    33   7
4     8    37  1000    38  34  1000  1000  1000    32    38  1000  35
5  1000     9  1000     2  27    37  1000  1000  1000  1000    10   5

In [81]:
# clip function with indexing

df[df<15] = 15
df[df>30] = 30
df

    A   B   C   D   E   F   G   H   I   J   K   L
0  30  30  30  30  23  15  30  30  21  15  15  30
1  30  15  17  27  21  15  15  30  21  30  30  30
2  30  30  30  15  30  30  30  29  30  15  16  30
3  30  15  15  30  15  30  30  15  15  15  30  15
4  15  30  30  30  30  30  30  30  30  30  30  30
5  30  15  30  15  27  30  30  30  30  30  15  15

**<h2> Pandas Merge </h2>**