<a href="https://colab.research.google.com/github/mirpouya/Basics-of-ML/blob/main/Intermediate_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# check the version of pandas

print(pd.__version__)

1.3.5

In [3]:
# SERIES

a = pd.Series([1,2,3,4,5], index=["a", "b", "c", "d", "e"])
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
"""
Series basically handle one-dimensional arrays
"""

a.values

array([1, 2, 3, 4, 5])

In [5]:
type(a.values)

numpy.ndarray

In [6]:
type(a)

pandas.core.series.Series

In [7]:
a.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [8]:
""" 
Making series with dictionary 
"""

grades = {"Pouya":19, "Amir":17, "Ali":18, "Gholi":20}
b = pd.Series(grades)
b

Pouya    19
Amir     17
Ali      18
Gholi    20
dtype: int64

In [9]:
"""
Data Frames : Two-dimensional arrays
"""

marks = {"Pouya":19, "Amir":17,"Ali":18, "Gholi":20}
grades = {"Pouya":"A", "Amir":"B", "Ali":"A", "Gholi":"A+"}

data = pd.DataFrame({"Marks":marks, "Grades":grades})
data

       Marks Grades
Pouya     19      A
Amir      17      B
Ali       18      A
Gholi     20     A+

In [10]:
# transpose

data.T

       Pouya Amir Ali Gholi
Marks     19   17  18    20
Grades     A    B   A    A+

In [11]:
data.values

array([[19, 'A'],
       [17, 'B'],
       [18, 'A'],
       [20, 'A+']], dtype=object)

In [12]:
data.index

Index(['Pouya', 'Amir', 'Ali', 'Gholi'], dtype='object')

In [13]:
# if we want to access 18 in values

data.values[2,0]

18

In [14]:
# columns of the dataset

data.columns

Index(['Marks', 'Grades'], dtype='object')

In [15]:
data.T.columns

Index(['Pouya', 'Amir', 'Ali', 'Gholi'], dtype='object')

In [17]:
# adding a column
import numpy as np

data["Percent"] = np.array([95, 85, 90, 100])
data

       Marks Grades  Percent
Pouya     19      A       95
Amir      17      B       85
Ali       18      A       90
Gholi     20     A+      100

In [18]:
# adding another column

data["redundant"] = 1.18*(data["Marks"] + data["Percent"])
data

       Marks Grades  Percent  redundant
Pouya     19      A       95     134.52
Amir      17      B       85     120.36
Ali       18      A       90     127.44
Gholi     20     A+      100     141.60

In [20]:
# deleting a column

del data["redundant"]
data

       Marks Grades  Percent
Pouya     19      A       95
Amir      17      B       85
Ali       18      A       90
Gholi     20     A+      100

In [21]:
data["redundant"] = data["Percent"]*1.23 + data["Marks"]
data

       Marks Grades  Percent  redundant
Pouya     19      A       95     135.85
Amir      17      B       85     121.55
Ali       18      A       90     128.70
Gholi     20     A+      100     143.00

In [22]:
# conditioning on the data

data[data["redundant"] > 130]

       Marks Grades  Percent  redundant
Pouya     19      A       95     135.85
Gholi     20     A+      100     143.00

In [24]:
# making DataFrame with two dictionaries

data = pd.DataFrame([{"Pouya":19, "Amir":17, "Ali":18}, {"Pouya":4, "Amir":3.5, "Gholi":4}])
data

   Pouya  Amir   Ali  Gholi
0     19  17.0  18.0    NaN
1      4   3.5   NaN    4.0

In [25]:
data = pd.Series(["a", "b", "c", "d", "e", "f"], index=[10,11,12,13,14,15])
data

10    a
11    b
12    c
13    d
14    e
15    f
dtype: object

In [28]:
data[1:3]

11    b
12    c
dtype: object

In [29]:
data[1:5]

11    b
12    c
13    d
14    e
dtype: object

In [30]:
data[11:14]

Series([], dtype: object)

In [32]:
"""
explicit indeces: loc
implicit indeces: iloc

Explicit Index: Uses the values (numeric or non-numeric) set as the index. For example, if we set a column or row as the index then we can use values in the row or column as indices in different panda methods.

Implicit Index: Uses the location (numeric) of the indices, similar to the python style of indexing.
"""

data = pd.Series(["a", "b", "c", "d"], index=[1,3,5,7])
data

1    a
3    b
5    c
7    d
dtype: object

In [33]:
# data[1] -> explicit index, refers to the set index (label) not the location

data[1]

'a'

In [34]:
# data[1:3] -> implicit index, refers to the position of elements not the set labels

data[1:3]

3    b
5    c
dtype: object

In [35]:
# slicing with explicit index

data.loc[1:3]

1    a
3    b
dtype: object

In [36]:
# slicing with implicit index

data.iloc[1:3]

3    b
5    c
dtype: object

In [37]:
marks = {"Pouya":19, "Amir":17,"Ali":18, "Gholi":20}
grades = {"Pouya":"A", "Amir":"B", "Ali":"A", "Gholi":"A+"}

data = pd.DataFrame({"Marks":marks, "Grades":grades})
data

       Marks Grades
Pouya     19      A
Amir      17      B
Ali       18      A
Gholi     20     A+

In [38]:
# reversing df with iloc

data.iloc[::-1,:]

       Marks Grades
Gholi     20     A+
Ali       18      A
Amir      17      B
Pouya     19      A

**<h1> Working with Real DATA </h1>**

In [39]:
data = pd.read_csv("/content/Adults.csv")
data

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K