<a href="https://colab.research.google.com/github/mirpouya/Basics-of-ML/blob/main/Intermediate_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# check the version of pandas

print(pd.__version__)

1.3.5

In [3]:
# SERIES

a = pd.Series([1,2,3,4,5], index=["a", "b", "c", "d", "e"])
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
"""
Series basically handle one-dimensional arrays
"""

a.values

array([1, 2, 3, 4, 5])

In [5]:
type(a.values)

numpy.ndarray

In [6]:
type(a)

pandas.core.series.Series

In [7]:
a.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [8]:
""" 
Making series with dictionary 
"""

grades = {"Pouya":19, "Amir":17, "Ali":18, "Gholi":20}
b = pd.Series(grades)
b

Pouya    19
Amir     17
Ali      18
Gholi    20
dtype: int64

In [9]:
"""
Data Frames : Two-dimensional arrays
"""

marks = {"Pouya":19, "Amir":17,"Ali":18, "Gholi":20}
grades = {"Pouya":"A", "Amir":"B", "Ali":"A", "Gholi":"A+"}

data = pd.DataFrame({"Marks":marks, "Grades":grades})
data

       Marks Grades
Pouya     19      A
Amir      17      B
Ali       18      A
Gholi     20     A+

In [10]:
# transpose

data.T

       Pouya Amir Ali Gholi
Marks     19   17  18    20
Grades     A    B   A    A+

In [11]:
data.values

array([[19, 'A'],
       [17, 'B'],
       [18, 'A'],
       [20, 'A+']], dtype=object)

In [12]:
data.index

Index(['Pouya', 'Amir', 'Ali', 'Gholi'], dtype='object')

In [13]:
# if we want to access 18 in values

data.values[2,0]

18

In [14]:
# columns of the dataset

data.columns

Index(['Marks', 'Grades'], dtype='object')

In [15]:
data.T.columns

Index(['Pouya', 'Amir', 'Ali', 'Gholi'], dtype='object')

In [16]:
# adding a column
import numpy as np

data["Percent"] = np.array([95, 85, 90, 100])
data

       Marks Grades  Percent
Pouya     19      A       95
Amir      17      B       85
Ali       18      A       90
Gholi     20     A+      100

In [17]:
# adding another column

data["redundant"] = 1.18*(data["Marks"] + data["Percent"])
data

       Marks Grades  Percent  redundant
Pouya     19      A       95     134.52
Amir      17      B       85     120.36
Ali       18      A       90     127.44
Gholi     20     A+      100     141.60

In [18]:
# deleting a column

del data["redundant"]
data

       Marks Grades  Percent
Pouya     19      A       95
Amir      17      B       85
Ali       18      A       90
Gholi     20     A+      100

In [19]:
data["redundant"] = data["Percent"]*1.23 + data["Marks"]
data

       Marks Grades  Percent  redundant
Pouya     19      A       95     135.85
Amir      17      B       85     121.55
Ali       18      A       90     128.70
Gholi     20     A+      100     143.00

In [20]:
# conditioning on the data

data[data["redundant"] > 130]

       Marks Grades  Percent  redundant
Pouya     19      A       95     135.85
Gholi     20     A+      100     143.00

In [21]:
# making DataFrame with two dictionaries

data = pd.DataFrame([{"Pouya":19, "Amir":17, "Ali":18}, {"Pouya":4, "Amir":3.5, "Gholi":4}])
data

   Pouya  Amir   Ali  Gholi
0     19  17.0  18.0    NaN
1      4   3.5   NaN    4.0

In [22]:
data = pd.Series(["a", "b", "c", "d", "e", "f"], index=[10,11,12,13,14,15])
data

10    a
11    b
12    c
13    d
14    e
15    f
dtype: object

In [23]:
data[1:3]

11    b
12    c
dtype: object

In [24]:
data[1:5]

11    b
12    c
13    d
14    e
dtype: object

In [25]:
data[11:14]

Series([], dtype: object)

In [26]:
"""
explicit indeces: loc
implicit indeces: iloc

Explicit Index: Uses the values (numeric or non-numeric) set as the index. For example, if we set a column or row as the index then we can use values in the row or column as indices in different panda methods.

Implicit Index: Uses the location (numeric) of the indices, similar to the python style of indexing.
"""

data = pd.Series(["a", "b", "c", "d"], index=[1,3,5,7])
data

1    a
3    b
5    c
7    d
dtype: object

In [27]:
# data[1] -> explicit index, refers to the set index (label) not the location

data[1]

'a'

In [28]:
# data[1:3] -> implicit index, refers to the position of elements not the set labels

data[1:3]

3    b
5    c
dtype: object

In [29]:
# slicing with explicit index

data.loc[1:3]

1    a
3    b
dtype: object

In [30]:
# slicing with implicit index

data.iloc[1:3]

3    b
5    c
dtype: object

In [31]:
marks = {"Pouya":19, "Amir":17,"Ali":18, "Gholi":20}
grades = {"Pouya":"A", "Amir":"B", "Ali":"A", "Gholi":"A+"}

data = pd.DataFrame({"Marks":marks, "Grades":grades})
data

       Marks Grades
Pouya     19      A
Amir      17      B
Ali       18      A
Gholi     20     A+

In [32]:
# reversing df with iloc

data.iloc[::-1,:]

       Marks Grades
Gholi     20     A+
Ali       18      A
Amir      17      B
Pouya     19      A

**<h1> Working with Real DATA </h1>**

In [33]:
data = pd.read_csv("/content/Adults.csv")
data

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [34]:
# the problem is the first row is considered to be the header of dataset, and it is not the case
# therefore, we have to indicate that the first row is not the header

data = pd.read_csv("/content/Adults.csv", header=None)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [35]:
# adding column name to the data

data.columns = ["C"+str(x) for x in range(data.shape[1])]
data

,C0,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [36]:
# accessing all the rows of columns 0, 13

data.loc[:,["C0","C13"]]

       C0             C13
0      39   United-States
1      50   United-States
2      38   United-States
3      53   United-States
4      28            Cuba
...    ..             ...
32556  27   United-States
32557  40   United-States
32558  58   United-States
32559  22   United-States
32560  52   United-States

[32561 rows x 2 columns]

In [37]:
# unique values 

data["C12"].unique()

array([40, 13, 16, 45, 50, 80, 30, 35, 60, 20, 52, 44, 15, 25, 38, 43, 55,
       48, 58, 32, 70,  2, 22, 56, 41, 28, 36, 24, 46, 42, 12, 65,  1, 10,
       34, 75, 98, 33, 54,  8,  6, 64, 19, 18, 72,  5,  9, 47, 37, 21, 26,
       14,  4, 59,  7, 99, 53, 39, 62, 57, 78, 90, 66, 11, 49, 84,  3, 17,
       68, 27, 85, 31, 51, 77, 63, 23, 87, 88, 73, 89, 97, 94, 29, 96, 67,
       82, 86, 91, 81, 76, 92, 61, 74, 95])

In [38]:
data["C13"].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [39]:
# unique values of labels

data["C14"].unique()

array([' <=50K', ' >50K'], dtype=object)

In [40]:
# labels

labels = data["C14"].unique()
labels

array([' <=50K', ' >50K'], dtype=object)

In [41]:
print(f" class1: {labels[0]}\n class2: {labels[1]}")

 class1:  <=50K
 class2:  >50K

In [42]:
# for classification task, I want to replace label[0] with -1, and label[1] with +1

In [43]:
# index of data with <=50k label

indx0 = data["C14"] == labels[0]
indx1 = data["C14"] == labels[1]

indx0

0         True
1         True
2         True
3         True
4         True
         ...
32556     True
32557    False
32558     True
32559     True
32560    False
Name: C14, Length: 32561, dtype: bool

In [44]:
indx1

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557     True
32558    False
32559    False
32560     True
Name: C14, Length: 32561, dtype: bool

In [45]:
# using loc function, changing the label value

data["C14"].loc[indx0] = -1 
data["C14"].loc[indx1] = 1

data["C14"]

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0        -1
1        -1
2        -1
3        -1
4        -1
         ..
32556    -1
32557     1
32558    -1
32559    -1
32560     1
Name: C14, Length: 32561, dtype: object

In [46]:
# unique values of C14

data["C14"].unique()

array([-1, 1], dtype=object)

In [47]:
# changing C1 culumn using one-hot encoding

""" One hot encoding is used to convert categorical data (string) to numerical values """

data["C1"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [48]:
data["C1"].unique().size

9

In [49]:
# get_dummies(data, columns) function

data_dum = pd.get_dummies(data, columns=["C1"])

data_dum

,C0,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C14,C1_ ?,C1_ Federal-gov,C1_ Local-gov,C1_ Never-worked,C1_ Private,C1_ Self-emp-inc,C1_ Self-emp-not-inc,C1_ State-gov,C1_ Without-pay
0,39,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,...,-1,0,0,0,0,0,0,0,1,0
1,50,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,...,-1,0,0,0,0,0,0,1,0,0
2,38,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,...,-1,0,0,0,0,1,0,0,0,0
3,53,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,...,-1,0,0,0,0,1,0,0,0,0
4,28,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,...,-1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,...,-1,0,0,0,0,1,0,0,0,0
32557,40,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,...,1,0,0,0,0,1,0,0,0,0
32558,58,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,...,-1,0,0,0,0,1,0,0,0,0
32559,22,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,...,-1,0,0,0,0,1,0,0,0,0
32560,52,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,...,1,0,0,0,0,0,1,0,0,0

In [50]:
# get_dummies expand the columns

data_dum.shape

(32561, 23)

In [51]:
data_dum.columns

Index(['C0', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11',
       'C12', 'C13', 'C14', 'C1_ ?', 'C1_ Federal-gov', 'C1_ Local-gov',
       'C1_ Never-worked', 'C1_ Private', 'C1_ Self-emp-inc',
       'C1_ Self-emp-not-inc', 'C1_ State-gov', 'C1_ Without-pay'],
      dtype='object')

In [52]:
# what is the "C1_?" columns?

# maybe it stands for the missing entries of "C1"

In [53]:
# checking for missing values in "C1"

data["C1"].isnull().sum()

0

In [54]:
# no missing values!

data["C1"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [55]:
# in fact, there is a value "?" in "C1"

In [56]:
# to scam the general information 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C0      32561 non-null  int64
 1   C1      32561 non-null  object
 2   C2      32561 non-null  int64
 3   C3      32561 non-null  object
 4   C4      32561 non-null  int64
 5   C5      32561 non-null  object
 6   C6      32561 non-null  object
 7   C7      32561 non-null  object
 8   C8      32561 non-null  object
 9   C9      32561 non-null  object
 10  C10     32561 non-null  int64
 11  C11     32561 non-null  int64
 12  C12     32561 non-null  int64
 13  C13     32561 non-null  object
 14  C14     32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**<h3> Grouping - groupby </h3>**

In [57]:
# df.groupby([col]).sum()
# grouping the data with respect to a specific column

df = pd.DataFrame({"Product":["Lump", "Lump", "Table", "Table"], "Quality":["A", "B", "A", "A"], "Price":[40, 30, 2000, 2300]})
df

  Product Quality  Price
0    Lump       A     40
1    Lump       B     30
2   Table       A   2000
3   Table       A   2300

In [58]:
# see how many products are in the list

df.groupby(["Product"]).sum()

         Price
Product
Lump        70
Table     4300

In [59]:
# see the average price of each product

df.groupby(["Product"]).mean()

          Price
Product
Lump       35.0
Table    2150.0

In [60]:
# grouping with respect to two columns

df.groupby(["Product", "Quality"]).sum()

                 Price
Product Quality
Lump    A           40
        B           30
Table   A         4300

In [61]:
"""
like a hierarchichal classification, first separating products according to type
then, within each class (lump and table), classifying with respect to quality
"""

'\nlike a hierarchichal classification, first separating products according to type\nthen, within each class (lump and table), classifying with respect to quality\n'

In [62]:
# heirarchichal indexing
# df.groupby(level=0).sum()

In [63]:
# creating data frame in a new way
# hierarchichal dataframe

a = [["Pen", "Pen", "Pen", "Notebook", "Notebook", "Notebook"], ["A", "B", "C", "A", "B", "C"]]
indx = pd.MultiIndex.from_arrays(a, names=("Product", "Quality"))

df = pd.DataFrame({"Price":[15.,10., 8, 25, 20, 15]}, index=indx)
df

                  Price
Product  Quality
Pen      A         15.0
         B         10.0
         C          8.0
Notebook A         25.0
         B         20.0
         C         15.0

In [64]:
# as you see, this is a leveled dataframe

# applying groupby on level 0

df.groupby(level=0).sum()

          Price
Product
Notebook   60.0
Pen        33.0

In [65]:
# level = 1
df.groupby(level=1).mean()

         Price
Quality
A         20.0
B         15.0
C         11.5

**<h1> Rolling Function </h1>**

In [66]:
# df.rolling(winSize).sum() : window type operation on data frame
# similar to window in conv nets

df = pd.DataFrame({"A":np.random.randint(0,10,5),
                   "B":np.random.randint(0,5,5),
                   "C":np.random.randint(0,10,5)})

df

   A  B  C
0  3  4  6
1  7  0  3
2  6  4  8
3  6  4  4
4  9  4  2

In [67]:
df.rolling(2).sum()

      A    B     C
0   NaN  NaN   NaN
1  10.0  4.0   9.0
2  13.0  4.0  11.0
3  12.0  8.0  12.0
4  15.0  8.0   6.0

In [68]:
# avoid NaN

df.rolling(2, min_periods=1).sum()

      A    B     C
0   3.0  4.0   6.0
1  10.0  4.0   9.0
2  13.0  4.0  11.0
3  12.0  8.0  12.0
4  15.0  8.0   6.0

In [69]:
# working with iris dataset

import seaborn as sns

iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [70]:
# remving target column

df = iris.drop(["species"], axis=1)
df

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [71]:
# smoothing columns with rolling

df.rolling(3, min_periods=1, win_type="gaussian").sum(std=3)

# operation on windows is gaussian with standard deviation of 3

     sepal_length  sepal_width  petal_length  petal_width
0        4.824393     3.310858      1.324343     0.189192
1        9.735201     6.337878      2.724343     0.389192
2       14.170403     9.337928      3.954091     0.578384
3       13.686615     8.970353      4.043282     0.578384
4       13.775807     9.532524      4.054091     0.578384
..            ...          ...           ...          ...
145     19.470453     9.164949     16.200150     6.851414
146     18.997473     8.486565     15.321766     6.462222
147     18.786665     8.175757     14.837978     5.967626
148     18.324493     8.581161     15.037978     5.973030
149     17.929897     9.075757     15.143383     5.894646

[150 rows x 4 columns]

**<h2> Pandas Where </h2>**

In [72]:
# df.where(cond, action)

""" locates all the indeces that a condition is true 
    in all the places that the condition is true, the original values are kept
    in each location that the condition is not true the value changes by the action
"""

df = pd.DataFrame(np.arange(15).reshape(5,3), columns= ["A", "B", "C"])
df

    A   B   C
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [73]:
# zero every values bigger than 5

df.where(df<5, -df)

    A   B   C
0   0   1   2
1   3   4  -5
2  -6  -7  -8
3  -9 -10 -11
4 -12 -13 -14

**<h2> Pandas Clip </h2>**

In [74]:
# df.clip(lower, upper)
# you may have outliers that are not in a particular range and want to delete them

"""
  all the values smaller than the lower change to lower
  all the valuea bigger than the upper change to upper
"""

df = pd.DataFrame(np.random.randint(0,60, (6,12)), columns=list("ABCDEFGHIJKL"))
df

    A   B   C   D   E   F   G   H   I   J   K   L
0  47   7  59  37  29   5  51  45  34  49  11  27
1  44  40  13  19  58  13  56  58  50   8   1   5
2  19  26  18  25  13  54  40  11   6  47  50  54
3  49  17  37  13  58  51  12  49   6  23  39  37
4  36  49  58  42  14  32  13  15  58  20  41  27
5  45  38  38   1   0  28  42  38  17  24  41  21

In [75]:
df.clip(25,35)

    A   B   C   D   E   F   G   H   I   J   K   L
0  35  25  35  35  29  25  35  35  34  35  25  27
1  35  35  25  25  35  25  35  35  35  25  25  25
2  25  26  25  25  25  35  35  25  25  35  35  35
3  35  25  35  25  35  35  25  35  25  25  35  35
4  35  35  35  35  25  32  25  25  35  25  35  27
5  35  35  35  25  25  28  35  35  25  25  35  25

In [76]:
# use where one more time

df.where(df<40, 1000)

      A     B     C     D     E     F     G     H     I     J     K     L
0  1000     7  1000    37    29     5  1000  1000    34  1000    11    27
1  1000  1000    13    19  1000    13  1000  1000  1000     8     1     5
2    19    26    18    25    13  1000  1000    11     6  1000  1000  1000
3  1000    17    37    13  1000  1000    12  1000     6    23    39    37
4    36  1000  1000  1000    14    32    13    15  1000    20  1000    27
5  1000    38    38     1     0    28  1000    38    17    24  1000    21

In [77]:
# clip function with indexing

df[df<15] = 15
df[df>30] = 30
df

    A   B   C   D   E   F   G   H   I   J   K   L
0  30  15  30  30  29  15  30  30  30  30  15  27
1  30  30  15  19  30  15  30  30  30  15  15  15
2  19  26  18  25  15  30  30  15  15  30  30  30
3  30  17  30  15  30  30  15  30  15  23  30  30
4  30  30  30  30  15  30  15  15  30  20  30  27
5  30  30  30  15  15  28  30  30  17  24  30  21

**<h2> Pandas Merge </h2>**

In [81]:
# df.merge(df1, df2)
# there should be a common column in the two dataframes

df1 = pd.DataFrame({"Name":["Pouya", "Ali", "Amir"],
                    "Field": ["Data Science", "GANs", "NLP"]})

df1

    Name         Field
0  Pouya  Data Science
1    Ali          GANs
2   Amir           NLP

In [82]:
df2 = pd.DataFrame({"Name": ["Amir", "Pouya", "Ali"],
                    "Date of Birth":[1995, 1997, 1998]})

df2

    Name  Date of Birth
0   Amir           1995
1  Pouya           1997
2    Ali           1998

In [80]:
# merging df1, and df2

pd.merge(df1, df2)

    Name         Field  Date of Birth
0  Pouya  Data Science           1997
1    Ali          GANs           1998

In [83]:
# what if the common column has some values in one df which is not the the other dataframe

df3 = pd.DataFrame({"Name": ["Amir", "Pouya", "Ali", "Hadi", "Shadi"],
                    "Country": ["Germany", "Iran", "Japan", "USA", "Korea"]})

df3

    Name  Country
0   Amir  Germany
1  Pouya     Iran
2    Ali    Japan
3   Hadi      USA
4  Shadi    Korea

In [84]:
# merge 

pd.merge(df1, df3)

    Name         Field  Country
0  Pouya  Data Science     Iran
1    Ali          GANs    Japan
2   Amir           NLP  Germany

In [85]:
# it merges the same values of the common column

In [86]:
# what if there exist two common columns?

df1 = pd.DataFrame({"Name": ["Pouya", "Gholi", "Gholi2", "Gholi3"], "Country": ["Iran", "Turkey", "UAE", "Qatar"],
                    "Skilss": ["Data Scientist", "Backend Developer", "Designer", "Electrical Engineer"]})

df1

     Name Country               Skilss
0   Pouya    Iran       Data Scientist
1   Gholi  Turkey    Backend Developer
2  Gholi2     UAE             Designer
3  Gholi3   Qatar  Electrical Engineer

In [87]:
# what if there exist two common columns?

df2 = pd.DataFrame({"Name": ["Pouya", "Gholi001", "Gholi2", "Gholi003"], "Country": ["Iran", "China", "UAE", "Singapore"],
                    "Birthday": [1997, 1912, 1993, 1980]})

df2

       Name    Country  Birthday
0     Pouya       Iran      1997
1  Gholi001      China      1912
2    Gholi2        UAE      1993
3  Gholi003  Singapore      1980

In [88]:
# merge

pd.merge(df1, df2)

     Name Country          Skilss  Birthday
0   Pouya    Iran  Data Scientist      1997
1  Gholi2     UAE        Designer      1993

In [89]:
# we can specify the base column

pd.merge(df1, df2, on="Name")

     Name Country_x          Skilss Country_y  Birthday
0   Pouya      Iran  Data Scientist      Iran      1997
1  Gholi2       UAE        Designer       UAE      1993

In [91]:
# another example

students1 = pd.DataFrame({"Name": ["Anna", "Stuart", "Alex", "Nancy", "Robert"], 
                          "Subject1": ["English", "Maths", "Geography", "English", "Maths"]})

students1

     Name   Subject1
0    Anna    English
1  Stuart      Maths
2    Alex  Geography
3   Nancy    English
4  Robert      Maths

In [92]:
students2 = pd.DataFrame({"Name": ["Alex", "Robert", "Anna", "Stuart", "Nancy"], 
                          "Subject2": ["Electronics", "Maths", "Geography", "English", "Computer"]})

students2

     Name     Subject2
0    Alex  Electronics
1  Robert        Maths
2    Anna    Geography
3  Stuart      English
4   Nancy     Computer

In [94]:
# merge

pd.merge(students1, students2)

     Name   Subject1     Subject2
0    Anna    English    Geography
1  Stuart      Maths      English
2    Alex  Geography  Electronics
3   Nancy    English     Computer
4  Robert      Maths        Maths

**<h2> Pandas Pivot Tables </h2>**

In [95]:
# df.pivot_table(...)

# getting a real dataset from seaborn

from seaborn import load_dataset

In [107]:
titanic_data = load_dataset("titanic")

titanic_data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [108]:
# renaming a column

titanic_data.rename(columns={"sex":"gender"}, inplace=True)
titanic_data

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [101]:
# how many null values are in a specific column

titanic_data.deck.isnull().sum()

688

In [109]:
"""
Because the majority of data in deck column is missing, we omit this column for our analysis
"""
titanic_data.drop(["deck"], axis=1, inplace=True)

titanic_data

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

In [110]:
# grouping the data according to "gender" and "class"

titanic_data.groupby(["gender", "class"])

In [111]:
# looking at the survival of passangers according to gender and class
titanic_data.groupby(["gender", "class"])["survived"]

In [112]:
# looking at the survival of passangers according to gender and class
# mean of survival
titanic_data.groupby(["gender", "class"])["survived"].mean()

gender  class
female  First     0.968085
        Second    0.921053
        Third     0.500000
male    First     0.368852
        Second    0.157407
        Third     0.135447
Name: survived, dtype: float64

In [114]:
# for a better visual presentation use .unstack()

titanic_data.groupby(["gender", "class"])["survived"].mean().unstack()

class      First    Second     Third
gender
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [116]:
titanic_data.groupby(["gender"])["survived"].mean()

gender
female    0.742038
male      0.188908
Name: survived, dtype: float64

<h3> Pivot Tables

In [118]:
# what column we are interested in 
# then, what should appear in the row
# what I want to appear
# with what aggregation function

titanic_data.pivot_table("survived", index="gender", columns="class", aggfunc="mean")

class      First    Second     Third
gender
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [119]:
# more hierarchichal representation

"""
consider we want to separate passangers by their age, people in (0,18) and (18,80)
then we use .cut(.) function
"""

age_partitions = pd.cut(titanic_data["age"], [0,18,80])

age_partitions

0      (18.0, 80.0]
1      (18.0, 80.0]
2      (18.0, 80.0]
3      (18.0, 80.0]
4      (18.0, 80.0]
           ...
886    (18.0, 80.0]
887    (18.0, 80.0]
888             NaN
889    (18.0, 80.0]
890    (18.0, 80.0]
Name: age, Length: 891, dtype: category
Categories (2, interval[int64, right]): [(0, 18] < (18, 80]]

In [120]:
# making a table

titanic_data.pivot_table("survived", index=["gender", age_partitions], columns="class", aggfunc="mean")

class               First    Second     Third
gender age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 80]  0.972973  0.900000  0.423729
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 80]  0.375000  0.071429  0.133663

In [123]:
# another way of cutting

far_partitions = pd.qcut(titanic_data["fare"], 2)   # fare into two parts

titanic_data.pivot_table("survived", index=["gender", age_partitions], columns=["class", far_partitions], aggfunc="mean")

class                      First                             Second  \
fare            (-0.001, 14.454] (14.454, 512.329] (-0.001, 14.454]
gender age
female (0, 18]               NaN          0.909091         1.000000
       (18, 80]              NaN          0.972973         0.880000
male   (0, 18]               NaN          0.800000         0.000000
       (18, 80]              0.0          0.391304         0.098039

class                                        Third
fare            (14.454, 512.329] (-0.001, 14.454] (14.454, 512.329]
gender age
female (0, 18]           1.000000         0.714286          0.318182
       (18, 80]          0.914286         0.444444          0.391304
male   (0, 18]           0.818182         0.260870          0.178571
       (18, 80]          0.030303         0.125000          0.192308

In [130]:
# different aggregation functions on different columns

titanic_data.pivot_table(index=["gender", age_partitions], columns="class", aggfunc={"survived":sum, "fare":"mean"})

                       fare                       survived
class                 First     Second      Third    First Second Third
gender age
female (0, 18]   127.474245  25.064286  17.370835       10     14    22
       (18, 80]  105.043469  21.224653  14.785453       72     54    25
male   (0, 18]   114.638320  26.116947  20.639055        4      9    11
       (18, 80]   68.877389  20.219593  10.022624       36      6    27

**<h2> Pandas String </h2>**

In [132]:
# df.col.string

"""
If you want to work a lot with strings in dataframe
"""

titanic_data.gender.str.lower()

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: gender, Length: 891, dtype: object

In [134]:
titanic_data.gender.str.capitalize()

0        Male
1      Female
2      Female
3      Female
4        Male
        ...
886      Male
887    Female
888    Female
889      Male
890      Male
Name: gender, Length: 891, dtype: object

**<h2> Pandas Training </h2>**

In [146]:
covid_data = pd.read_csv("/content/COVID-19_MAY.csv")
covid_data

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0,0,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0,0
...,...,...,...,...,...,...,...,...
31530,NaN,Sao Tome and Principe,0.186360,6.613081,5/19/20,251,8,4
31531,NaN,Yemen,15.552727,48.516388,5/19/20,167,28,5
31532,NaN,Comoros,-11.645500,43.333300,5/19/20,11,1,3
31533,NaN,Tajikistan,38.861034,71.276093,5/19/20,1936,41,641
31534,NaN,Lesotho,-29.609988,28.233608,5/19/20,1,0,0

In [147]:
import datetime as datetime

In [148]:
# in our analysis "lat" and "log" are not important

covid_data.drop(["Lat", "Long"], axis=1, inplace=True)
covid_data.head()

  Province/State Country/Region     Date  Confirmed  Deaths  Recovered
0            NaN    Afghanistan  1/22/20          0       0          0
1            NaN        Albania  1/22/20          0       0          0
2            NaN        Algeria  1/22/20          0       0          0
3            NaN        Andorra  1/22/20          0       0          0
4            NaN         Angola  1/22/20          0       0          0

In [152]:
# renaming two columns

covid_data.rename(columns={"Province/State":"Province", "Country/Region":"Region"}, inplace=True)

In [153]:
covid_data.columns

Index(['Province', 'Region', 'Date', 'Confirmed', 'Deaths', 'Recovered'], dtype='object')

In [154]:
# standard date format

covid_data["Date"] = pd.to_datetime(covid_data["Date"])

covid_data.head()

  Province       Region       Date  Confirmed  Deaths  Recovered
0      NaN  Afghanistan 2020-01-22          0       0          0
1      NaN      Albania 2020-01-22          0       0          0
2      NaN      Algeria 2020-01-22          0       0          0
3      NaN      Andorra 2020-01-22          0       0          0
4      NaN       Angola 2020-01-22          0       0          0

In [156]:
# finding null values

covid_data.isnull().sum()

Province     22015
Region           0
Date             0
Confirmed        0
Deaths           0
Recovered        0
dtype: int64

In [157]:
# shape of the dataset

covid_data.shape

(31535, 6)

In [159]:
# replacing NaN values in dataframe 

indx = covid_data["Province"].isnull()   # return True for all the indeces with NaN as values
covid_data["Province"][indx] = "Namidanam - Etelaei Nadaram"

covid_data

<ipython-input-159-8fddccca266e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_data["Province"][indx] = "Namidanam - Etelaei Nadaram"

,Province,Region,Date,Confirmed,Deaths,Recovered
0,Namidanam - Etelaei Nadaram,Afghanistan,2020-01-22,0,0,0
1,Namidanam - Etelaei Nadaram,Albania,2020-01-22,0,0,0
2,Namidanam - Etelaei Nadaram,Algeria,2020-01-22,0,0,0
3,Namidanam - Etelaei Nadaram,Andorra,2020-01-22,0,0,0
4,Namidanam - Etelaei Nadaram,Angola,2020-01-22,0,0,0
...,...,...,...,...,...,...
31530,Namidanam - Etelaei Nadaram,Sao Tome and Principe,2020-05-19,251,8,4
31531,Namidanam - Etelaei Nadaram,Yemen,2020-05-19,167,28,5
31532,Namidanam - Etelaei Nadaram,Comoros,2020-05-19,11,1,3
31533,Namidanam - Etelaei Nadaram,Tajikistan,2020-05-19,1936,41,641
31534,Namidanam - Etelaei Nadaram,Lesotho,2020-05-19,1,0,0

In [161]:
# see the total deaths, confirmed, recovered cases in each country

covid_data.groupby(["Region"]).sum()

                    Confirmed  Deaths  Recovered
Region
Afghanistan            115615    3211      13641
Albania                 34319    1408      20212
Algeria                183263   19089      76184
Andorra                 36237    1862      16176
Angola                   1452     106        383
...                       ...     ...        ...
West Bank and Gaza      17029      95       6333
Western Sahara            256       0        144
Yemen                    1190     190         30
Zambia                   8987     166       3102
Zimbabwe                 1386     171        226

[188 rows x 3 columns]

In [162]:
# sortin data by "Deaths"

sorted_data_covid = covid_data.sort_values(by=["Deaths"], ascending=False)
sorted_data_covid

,Province,Region,Date,Confirmed,Deaths,Recovered
31495,Namidanam - Etelaei Nadaram,US,2020-05-19,1528568,91921,289392
31230,Namidanam - Etelaei Nadaram,US,2020-05-18,1508308,90347,283178
30965,Namidanam - Etelaei Nadaram,US,2020-05-17,1486757,89562,272265
30700,Namidanam - Etelaei Nadaram,US,2020-05-16,1467820,88754,268376
30435,Namidanam - Etelaei Nadaram,US,2020-05-15,1442824,87530,250747
...,...,...,...,...,...,...
10367,Namidanam - Etelaei Nadaram,Cabo Verde,2020-03-01,0,0,0
10366,Namidanam - Etelaei Nadaram,Burkina Faso,2020-03-01,0,0,0
10365,Namidanam - Etelaei Nadaram,Bulgaria,2020-03-01,0,0,0
10364,Namidanam - Etelaei Nadaram,Brunei,2020-03-01,0,0,0
31534,Namidanam - Etelaei Nadaram,Lesotho,2020-05-19,1,0,0