<a href="https://colab.research.google.com/github/mirpouya/Basics-of-ML/blob/main/Intermediate_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# check the version of pandas

print(pd.__version__)

1.3.5

In [3]:
# SERIES

a = pd.Series([1,2,3,4,5], index=["a", "b", "c", "d", "e"])
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
"""
Series basically handle one-dimensional arrays
"""

a.values

array([1, 2, 3, 4, 5])

In [5]:
type(a.values)

numpy.ndarray

In [6]:
type(a)

pandas.core.series.Series

In [7]:
a.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [8]:
""" 
Making series with dictionary 
"""

grades = {"Pouya":19, "Amir":17, "Ali":18, "Gholi":20}
b = pd.Series(grades)
b

Pouya    19
Amir     17
Ali      18
Gholi    20
dtype: int64

In [9]:
"""
Data Frames : Two-dimensional arrays
"""

marks = {"Pouya":19, "Amir":17,"Ali":18, "Gholi":20}
grades = {"Pouya":"A", "Amir":"B", "Ali":"A", "Gholi":"A+"}

data = pd.DataFrame({"Marks":marks, "Grades":grades})
data

       Marks Grades
Pouya     19      A
Amir      17      B
Ali       18      A
Gholi     20     A+

In [10]:
# transpose

data.T

       Pouya Amir Ali Gholi
Marks     19   17  18    20
Grades     A    B   A    A+